@media only screen and (max-width:1200px){
    h1{
        font-size: 35px;
    }
    form{
        font-size: 18px;
    }
}
@media only screen and (max-width: 900px){
    .center{
        width: 35%;
        left: 30%;
    }
}
@media only screen and (max-width: 600px){
    .center{
        width: 50%;
        left: 20%;
    }
}
@media only screen and (max-width: 390px){
    .center{
        left:15%;
        width: 60%;
    }
    .btn{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 280px){
    .center{
        width: 70%;
    }
    .btn{
        margin-top: 15px;
    }
}